[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "BayesPieceHazSelect"]
	path = BayesPieceHazSelect
	url = https://github.com/cran/BayesPieceHazSelect
